@model dynamic

@{
    ViewBag.Title = "Mobile App dB Status";
}

<h2>Data source: @ViewBag.DataSource</h2>
<h2>Database: @ViewBag.Database</h2>

<h2>Visit Reports: @ViewBag.VRCount</h2>

<h2>Users: @ViewBag.UserCount</h2>

<h3>Unique Users: @ViewBag.UniqueUsers</h3>
