@model dynamic

@{
    ViewBag.Title = "Mobile App dB Status";
}
<table style="width:100%;">
    <tr>
        <td><h2>Database server:</h2> </td>
        <td>@ViewBag.DatabaseSource</td>
    </tr>
    <tr>
        <td><h2>Database: </h2></td>
        <td>@ViewBag.Database</td>
    </tr>
    <tr>
        <td><h2>Visit Reports: </h2></td>
        <td>@ViewBag.VisitReportCount</td>
    </tr>
    <tr>
        <td><h2>Users: </h2></td>
        <td>@ViewBag.UserCount</td>
    </tr>
    <tr>
        <td><h3>Unique Users: </h3></td>
        <td>@ViewBag.UniqueUsers</td>
    </tr>
</table>









